<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Conecta Express - Login</title>

    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

<div class="login-container">

    <div class="login-card">

        <img th:src="@{/css/images/logoConecta.png}"
             alt="Conecta Express"
             class="logo">

        <h1>CONECTA EXPRESS</h1>

        <p class="subtitle">
            Gestão de Escalas de Motoboys
        </p>

        <div th:if="${param.error}" class="alert-error">
            Email ou senha inválidos.
        </div>

        <div th:if="${param.logout}" class="alert-success">
            Logout realizado com sucesso.
        </div>

        <form th:action="@{/login}" method="post">

            <input
                    type="email"
                    name="username"
                    placeholder="E-mail"
                    required>

            <input
                    type="password"
                    name="password"
                    placeholder="Senha"
                    required>

            <button type="submit">
                Entrar
            </button>

        </form>

    </div>

</div>

</body>
</html>